*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}
.container{        
    width: 360px;
    height:420px;
    margin: 170px auto 20px auto;
    padding: 10px 20px 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img{
    width: 110px;
    height: 45px;

  }
  .container h3{
    padding-top: 10px;
    font-size: 22px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    text-rendering: optimizeLegibility;
    text-align: center;
  }
  .container h5{
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    text-rendering: optimizeLegibility;
    text-align: center;
  }

.container input{
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 5px 0px 15px;
    border: 1px solid #A6A6A6;
    height: 40px;
}
input::placeholder {
    font-weight: 500;
}
.container button{
    width: 120px;
    height: 31px;
    font-weight: lighter;
    margin-top: 25px;
    color: white;
    background-color:#11539a;
    border: 1px solid #11539a; 
    border-radius: 3px;
    font-size: 15px;
    margin-left: 195px;

  }